*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(229, 245, 245);
}


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');


#circle{
    height: 20px;
    width: 20px;
    background-color: rgb(139, 143, 233);
    border-radius: 100%;
}
#name{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 20px;
    font-family: 'Caveat', cursive;
    
font-family: 'Handlee', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Shadows Into Light', cursive;
color: black;
text-decoration: none;

}
@media (max-width:768px) {
    #name{
        font-size: 13px;
    }   
}

#header{
   
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}



#nav{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

    

#atag{
     text-decoration: none;
     font-family: 'Caveat', cursive;
     font-family: 'Handlee', cursive;
     font-family: 'Playpen Sans', cursive;
     font-family: 'Shadows Into Light', cursive;
   font-weight: 300px;
   color: black;
}
@media (max-width:768px) {
    #atag{
        font-size: 12px;
    }
    
}
#line{
    width: 1.5px;
    height: 20px;
    background-color: black;
}

@media (max-width:768px) {
    #line{
        height: 15px;
    }
    
}

#pic{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 100%;
}

@media (max-width:768px) {
 #pic{
    height: 170px;
    width: 170px;
 }   
}

#main{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 38px;
}

@media (max-width:768px) {
    #main{
        margin-top:-8px;
        margin-bottom: 10px;
    }
    
}

#hello{
    font-size: 90px;
    font-family: 'Caveat', cursive;
    margin-left: -7px;
}

@media (max-width:768px) {
    #hello{
        font-size: 50px;
        margin-left: 0.8px;
    }
    
}

#tag{
    font-size: 30px;
    font-family: 'Caveat', cursive;
font-family: 'Playpen Sans', cursive;
    font-weight: 10px ;
}

@media (max-width:768px) {
    #tag{
        font-size: 20px;
    }
    
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;

}

#para{
    max-width: 500px;
    font-family: 'Caveat', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Shadows Into Light', cursive;
    font-weight: lighter;
    margin-top: 5px;

}

@media (max-width:768px) {
    #para{
        font-size: 15px;
        max-width: 170px;
    }
    
}




#button-1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 100%;
    border-width: 0.5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Caveat', cursive;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
#button-1:hover{
    background-color: rgb(229, 245, 245);
    transition: all;
    transition-duration:400ms ;

}

@media (max-width:768px) {
    #button-1{
        height: 50px;
        width: 50px;
        font-size: 11px;
    }
    
}

#button-2{
    height: 100px;
    width: 100px;
    background-color: rgb(203, 233, 159);
    border-radius: 100%;
    border-width: 0.5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Caveat', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Shadows Into Light', cursive;
    cursor: pointer;
    margin-left: 10px;
}

#button-2:hover{
    background-color: rgb(229, 245, 245);
    transition: all;
    transition-duration:400ms ;

}


@media (max-width:768px) {
    #button-2{
        height: 50px;
        width: 50px;
        font-size: 11px;
        

    }
    
}

#button-3{
    height: 100px;
    width: 100px;
    background-color: rgb(182, 208, 240);
    border-radius: 100%;
    border-width: 0.5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Caveat', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Shadows Into Light', cursive;
    cursor: pointer;
    
}

#button-3:hover{
    background-color: rgb(229, 245, 245);
    transition: all;
    transition-duration:400ms ;

}


@media (max-width:768px) {
    #button-3{
        height: 50px;
        width: 50px;
        font-size: 11px;
        

    }
    
}


#footer{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}

@media (max-width:768px) {
    #footer{
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    
}

#heading{
    font-family: 'Caveat', cursive;
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Handlee', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Shadows Into Light', cursive;
font-size: 25px;
}

@media (max-width:768px) {
    #heading{
        font-size: 15px;
    }
    
}

#details{
    font-size: 20px;
    font-weight: lighter;
}

@media (max-width:768px) {
    #details{
        font-size: 13px;
    }
    
}

#twitter{
    height: 35px;
    width: 35px;
}

@media (max-width:768px) {
    #twitter{
        height: 20px;
        width: 20px;
    }
    
}

#linkedin{
    height: 35px;
    width: 35px;

}

@media (max-width:768px) {
    #linkedin{
        height: 20px;
        width: 20px;
    }
    
}

#title{
    font-family: "Noto Sans", sans-serif;
    
    font-weight: 200;
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: -20px;
    margin-bottom: 20px;
}
  
#resume-main{
    display: flex;
    padding: 40px;
}

#info{
    display: flex;
    
}


#year-of-study{
    margin-left: 400px;
    margin-right: 100px;
}

#sub-info{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#year {
    width: 100%;
    display: flex;
    align-items: start;
    
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
  }

  #column{
    display: flex;
    flex-direction: column;
    
  }



  
  @media (max-width: 768px) {
    #year {
      flex-direction: column;
      padding: 35px;
    }
  }
  
  #date {
    margin-top: 10px;
    font-weight: light;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
  }
  
  @media (max-width: 768px) {
    #date {
      margin-top: 5px;
    }
  }
  
  #masters {
    display: flex;
    gap: 25px;
   
  }
  
  #education {
    font-family: "Noto Sans", sans-serif;
    margin-left: 40px;
  }
  
  @media (max-width: 768px) {
    #education {
      margin-bottom: 10px;
    }
  }
  
  #resume-heading {
    font-family: "Noto Sans", sans-serif;
    max-width: 600px;
  
  }

  #resume-heading3 {
    font-family: "Noto Sans", sans-serif;
    max-width: 600px;
    font-size: 28px;
  
  }
  

  #resume-heading2{
    margin-top:20px;
    font-family: "Noto Sans", sans-serif;
    max-width: 600px;
    font-size: 28px;
  }

  @media (max-width: 768px) {
    #resume-heading {
      font-size: 25px;
    }
  }
  
  #resume-para {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    max-width: 400px;
  }
  
  #info-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  #li {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
  }
  
  #ul {
    margin-top: 10px;
  }


  #horizontal-line {
    width: 95%; /* Adjust the width as needed */
    height: 0.1px; /* Adjust the height as needed */
    margin:  auto; /* Center the line horizontally */
    background-color: #000; /* Change the color to your preference */
    margin-top: 30px;
  }
  
#certificate1{
    text-decoration: none;
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-size: large;
    font-weight: 200;
    max-width: 600px;
    margin-right:200px ;
}
 

#contact-header{
    text-decoration: none;
}

#tagline2{
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-family: 'Caveat', cursive;
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Handlee', cursive;
font-family: 'Kalam', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Shadows Into Light', cursive;
margin-bottom: 50px;

}

#contact-main{
    padding: 60px;
}
  
#contact-phone{
    font-size: 30px;
    font-family: 'Caveat', cursive;
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Handlee', cursive;
font-family: 'Kalam', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Shadows Into Light', cursive;
font-weight: 550;
margin-left: 5px;

}

#contact-email{
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Caveat', cursive;
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Handlee', cursive;
font-family: 'Kalam', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Shadows Into Light', cursive;
font-weight: 550;
margin-left: 5px;
}

#contact-number{
    font-size: 25px;

}

#contact-mail{
    font-size: 25px;
  
}

#call-logo{
    height: 25px;
    width: 25px;
}

#call{
    display: flex;
    align-items: center;
    
}

#mail{
    display: flex;
    align-items: center;
    
}

#email-logo{
    height:25px ;
    width: 25px;
    margin-top:20px ;
}

#div1{
    height: 300px;
    width: 40%;
    padding: 70px;
}

#div2{
    height:300px ;
    width: 60%;
    
}

#maindivforhalf{
    display: flex;
    align-items: center;
}


#user-details-form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Style the form elements */
#user-details-form input[type="text"],
#user-details-form input[type="tel"],
#user-details-form input[type="email"],
#user-details-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the submit button */
#user-details-form button[type="submit"] {
    background-color: #081412;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* Add some spacing for readability */
#user-details-form input[type="text"],
#user-details-form input[type="tel"],
#user-details-form input[type="email"],
#user-details-form button[type="submit"] {
    margin-bottom: 10px;
}